@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #1f1f1f;
}

.container {
  max-width: 450px;
  margin: 0 auto;
}

.text img {
  transform: rotateY(180deg);
}

.form__content {
  background-color: #252525;
  border-radius: 8px;
}
.form__title {
  color: white;
  font-size: 28px;
  padding: 35px 30px 25px 30px;
}
.form__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.form__input {
  width: 390px;
  height: 40px;
  border-radius: 6px;
  border: solid 1px #383838;
  outline: 0;
  background-color: #262626;
}
.form__input:nth-child(2) {
  margin-top: 20px;
}
.form__button {
  width: 390px;
  height: 37px;
  border-radius: 5px;
  border: 0;
  background-color: #343434;
  margin-top: 20px;
  color: #888;
}
.form .form__input[type=text] {
  padding-left: 20px;
}
.form .form__input[type=password] {
  padding-left: 20px;
}
.form__forgot {
  position: absolute;
  top: 75px;
  left: 330px;
  font-size: x-small;
  text-decoration: none;
  color: #888;
}
.form__img {
  width: 45px;
  height: 25px;
}