@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}
body {
   background-color: #1f1f1f;
}
.container {
   max-width: 450px;
   margin: 0 auto;
   position: relative;
}
.text {
   display: flex;
   align-items: center;
   justify-content: start;
   gap: 10px;
   color: #888;
   img {
      transform: rotateY(180deg);
      margin: 25px 0px 25px 0px ;
   }
}
.form {
   &__content {
      background-color: #252525;
      border-radius: 8px;
      padding: 0 30px;
   }
   &__title {
      color: white;
      font-size: 28px;
      padding: 35px 30px 25px 0px;
   }
   &__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
   }
   &__input {
      width: 100%;
      height: 40px;
      border-radius: 6px;
      border: solid 1px #383838;
      outline: 0;
      background-color: #262626;
   }
   &__input:nth-child(2) {
      margin-top: 20px;
   }
   &__button {
      width: 100%;
      height: 37px;
      border-radius: 5px;
      border: 0;
      background-color: #343434;
      margin-top: 20px;
      color: #888;
      transition: all 300ms;
   }
   &__button_back:hover {
      background-color: #676767;
      color: rgb(32, 32, 32);
   }
   &__con-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
      margin-top: 25px;
   }
   &__a {
      color: #888;
      text-decoration: none;
      font-size: 10px;
   }
   .form__input[type="text"] {
      padding-left: 20px;
   }
   .form__input[type="password"] {
      padding-left: 20px;
   }
   &__forgot {
      position: absolute;
      top: 75px;
      left: 300px;
      font-size: x-small;
      text-decoration: none;
      color: #888;
   }
   &__img {
      width: 45px;
      height: 25px;
      margin-bottom: 30px;
   }
   &__regist {
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;
      position: absolute;
      text-decoration: none;
      font-size: 13px;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 30px;
   }
   &__p {
      color: #888;
   }
   &__link {
      text-decoration: none;
      color: #247cd7;
   }
}



@import "media";